.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
justify-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}
.bg-grey{
    background-color: #121212;
}
.invert{
    filter: invert(1);
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}
::-webkit-scrollbar {
    width: 12px; /* Change this to adjust the scrollbar width */
  }
  
  ::-webkit-scrollbar-track {
    background: #1c1c1c; /* Dark background for the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #444; /* Darker color for the scrollbar thumb */
    border-radius: 6px; /* Round the corners of the scrollbar thumb */
    border: 2px solid #1c1c1c; /* Optional border for the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #666; /* Lighten the thumb when hovering */
  }
  
  /* For Firefox */
  html {
    scrollbar-width: thin; /* Makes the scrollbar thinner */
    scrollbar-color: #444 #1c1c1c; /* Thumb color and track color */
  }